/* Responsive top nav bar */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #000000; */
}

/* own edited */

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
  position: absolute;
  top: 20px;
  right: 10px;
}

.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #000000;
  color: #00d0ff;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* side navbar */
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* slideshow */
* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  border-width: 1px;
  border: solid;
  top: 10px;
  border-radius: 3px;
  border-color: #00fbff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/* parallax */
/* parallex */
.parallax {
  /* The image used */
  background-image: url("1st.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.parallax1 {
  /* The image used */
  background-image: url("3rd.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/* Projects */

.project_container
{
   display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    flex-direction: horizontal;
    flex-wrap: wrap;
    gap: 25px;
    margin: 29px;
    background-color: #fff;
}

/* flip cards */
.card
{
  position: relative;
  width: 300px;
  height: 300px;
  color: #a18a96;
  background: url(calculator\ project.png)center no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  overflow: hidden;
}
.card_content
{
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  border-top-left-radius: 20px;
  transform: translateY(30px);
  transition: transform .25s ;
}
.card_content::before
{
 content: ; 
 position: absolute;
 top: -47px;
 right: -45px;
 width: 100px;
 height: 100px;
 transform: rotate(-175deg);
 border-radius: 50%;
 box-shadow: inset 48px 48px #ffff;
}
.card_title a
{
  color: #6A515E;
  line-height: 15px;
}
.card_subtitle
{
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}
.card_description
{
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}
.card:hover .card_content
{
  transform: translateY(0);
}
.card:hover .card_description
{
  opacity: 1;
  transition-delay: .25s;
}
/* More porject  */
.more_button
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background: #FFF; 
}
.more_button a
{
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 40px;
}
.more_button a span {
  position: relative;
  color: #000;
  fot-size: 20px;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
}
.more_button a .liquid {
  position: absolute;
  top: -90px;
  left: 0;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(to right, #0F47B2 , #0BF8B7);
  box-shadow: inset 0 0 50px rgba(100, 100, 100, .5);
  transition: .5s;
}
.more_button a .liquid::after,
.more_button a .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.more_button a .liquid::before { 
  border-radius: 45%;
  border: 0px;
  background: rgb(255, 255, 255);
  animation: animate 2.5s linear infinite;
}
.more_button a .liquid::after {  
  border-radius: 40%;
  border: 0px;
  background: rgb(255, 255, 255);
  animation: animate 4.5s linear infinite;
}
.more_button a:hover .liquid{
  top: -120px;
  transition-duration: 7s;
}
.more_button a:not(:hover) .liquid{
	top: -60px;
	transition-duration: 7s;
}

.more_button a:hover span{
  	color: white;
  	transition-duration: 7s;
}
.more_button a:not(:hover) span{
	color: black;
	transition-duration: 7s;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
/* testimonials */
.team-section
{
	background: #f1f2f6;
	text-align: center;
}

.inner-width
{
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	color: #333;
	overflow: hidden;
}

.team-section h1
{
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 4px solid;
	padding-bottom: 10px;
}

.pe
{
	float: left;
	width: calc(100% / 3);
	overflow: hidden;
	padding: 40px 0;
	transition: 0.4s;
}

.pe:hover
{
	background: #dfe4ea;
}

.pe img
{
	width:250px;
	height: 250px;
	border-radius: 50%;
}

.p-name
{
	margin: 5px;
	text-transform: uppercase;
}

.p-des
{
	font-style: italic;
	color: #3498db;
}

.p-sm
{
	margin-top: 6px;
}

.p-sm a
{
	margin: 0 4px;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: 0.4s;
}

.p-sm a:hover
{
	transform: scale(1.3);
}

.p-sm a i
{
	color: #333;
	line-height: 30px;
}

@media screen and (max-width: 960px) {
	.pe{
		width: 45%;
	}
}
@media screen and (max-width: 768px) {
	.pe{
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.pe{
		width: 100%;
	}
}
/* contact form */

/*  */